<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.designmore">


  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name=".activity.MainActivity"
        android:screenOrientation="portrait"
        >
    </activity>

    <!--登陆ACT-->
    <activity
        android:name=".activity.LoginActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >
    </activity>

    <!--注册ACT-->
    <activity
        android:name=".activity.RegisterActivity"
        android:screenOrientation="portrait"
        >
    </activity>

    <!--找回密码ACT-->
    <activity
        android:name=".activity.RetrieveActivity"
        android:screenOrientation="portrait"
        >
    </activity>

    <!--用户中心ACT-->
    <activity
        android:name=".activity.usercenter.UserCenterActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--用户中心ACT -> 购物车ACT-->
    <activity
        android:name=".activity.usercenter.TrolleyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 设置ACT-->
    <activity
        android:name=".activity.usercenter.SettingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>
    <!--用户中心ACT -> 个人资料ACT-->
    <activity
        android:name=".activity.usercenter.ProfileActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 设置ACT -> 关于我们-->
    <activity
        android:name=".activity.usercenter.AboutActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>
    <!--用户中心ACT -> 设置ACT -> 帮助中心-->
    <activity
        android:name=".activity.usercenter.HelpActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>
  </application>

</manifest>
