<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.designmore">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

  <!--<uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->

  <uses-feature
      android:name="android.hardware.camera"
      android:required="true"/>
  <uses-feature
      android:name="android.hardware.camera.front"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.camera.autofocus"
      android:required="false"/>

  <application
      android:name=".helper.MyApplication"
      android:allowBackup="true"
      android:largeHeap="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      >

    <meta-data android:name="com.app.designmore.manager.GlideConfiguration"
        android:value="GlideModule"/>

    <!--启动页-->
    <activity
        android:name=".activity.SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--登陆ACT-->
    <activity
        android:name=".activity.LoginActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.WhiteActivity"
        >
    </activity>

    <!--注册ACT-->
    <activity
        android:name=".activity.RegisterActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--找回密码ACT-->
    <activity
        android:name=".activity.RetrieveActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--首页ACT-->
    <activity
        android:name=".activity.HomeActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.PrimaryActivity"
        >
    </activity>

    <!--商品列表ACT BY Key-->
    <activity
        android:name=".activity.ProductKeyListActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--商品列表ACT BY CatId-->
    <activity
        android:name=".activity.ProductCatIdListActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--商品列表ACT ALL-->
    <activity
        android:name=".activity.AllProductListActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--上新ACT-->
    <activity
        android:name=".activity.FashionActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--商品详情ACT-->
    <activity
        android:name=".activity.DetailActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>


    <!--商品详情ACT-->
    <activity
        android:name=".activity.DetailThumbActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--杂志ACT-->
    <activity
        android:name=".activity.JournalActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--杂志ACT -> 杂志详情-->
    <activity
        android:name=".activity.JournalDetailActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT-->
    <activity
        android:name=".activity.MineActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--搜索ACT-->
    <activity
        android:name=".activity.SearchActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 购物车ACT-->
    <activity
        android:name=".activity.usercenter.TrolleyActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 购物车ACT -> 编辑ACT-->
    <activity
        android:name=".activity.usercenter.TrolleyEditorActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 购物车ACT -> 提交ACT-->
    <activity
        android:name=".activity.usercenter.OrderCommitActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 购物车ACT -> 选择地址ACT-->
    <activity
        android:name=".activity.usercenter.OrderAddressActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 购物车ACT -> 选择配送方式ACT-->
    <activity
        android:name=".activity.usercenter.OrderDeliveryActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 我的订单ACT-->
    <activity
        android:name=".activity.usercenter.OrderActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 我的收藏ACT-->
    <activity
        android:name=".activity.usercenter.CollectionActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 设置ACT-->
    <activity
        android:name=".activity.usercenter.SettingActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 个人资料ACT-->
    <activity
        android:name=".activity.usercenter.ProfileActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 后置拍照ACT-->
    <activity
        android:name=".activity.usercenter.CameraBackActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 前置拍照ACT-->
    <activity
        android:name=".activity.usercenter.CameraFrontActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 本地选照片ACT-->
    <activity
        android:name=".activity.usercenter.ProfileGalleryActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 个人资料ACT -> 账户安全-->
    <activity
        android:name=".activity.usercenter.SafetyActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!--用户中心ACT -> 设置ACT -> 关于我们-->
    <activity
        android:name=".activity.usercenter.AboutActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>
    <!--用户中心ACT -> 设置ACT -> 帮助中心-->
    <activity
        android:name=".activity.usercenter.HelpActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!-- 用户中心 -> 地址管理 -->
    <activity
        android:name=".activity.usercenter.AddressMangerActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!-- 用户中心 -> 地址管理 -> 新增地址-->
    <activity
        android:name=".activity.usercenter.AddressAddActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

    <!-- 用户中心 -> 地址管理 -> 编辑地址-->
    <activity
        android:name=".activity.usercenter.AddressEditorActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme.TransparentActivity"
        >
    </activity>

  </application>
</manifest>
